/* line 6, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

/* line 11, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
.container {
  width: 300px;
  margin: auto;
}

/* line 16, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
#app h1 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}

/* line 22, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
#app li {
  line-height: 1.5;
}

/* line 26, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
#app input[type="text"] {
  padding: 2px;
}

/* line 30, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
.command {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
}

/* line 36, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
#app ul {
  padding: 0;
  list-style: none;
}

/* line 41, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
#app li > span.done {
  text-decoration: line-through;
  color: #bbb;
}

/* line 46, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
.info {
  color: #bbb;
  font-size: 12px;
  font-weight: normal;
}

/* line 52, /Users/shuto/Documents/development/rails/uq-data/app/assets/stylesheets/home.scss */
#app h1 > button {
  float: right;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

